.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 13.75rem;
}

.label {
  font-size: var(--font-size__sm);
  font-weight: 600;
}

.select {
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.scale {
  font-size: var(--font-size__sm);
  font-weight: 600;
}

.range {
  margin: 0.25rem 0.625rem 0 0;
}
