:root {
  --color__main-primary: #4bb1a5;
  --color__text-primary: #1e8585;

  --color__main-secondary: #f5b000;
  --color__text-secondary: #d68d00;

  --color__danger: #c92626;
  --color__text-danger: #941b1b;

  --color__gray-00: #ffffff;
  --color__gray-01: #f0f1ee;
  --color__gray-02: #d8dad3;
  --color__gray-03: #a5a7a0;
  --color__gray-04: #737670;
  --color__gray-05: #4b4d49;
  --color__gray-06: #2e312c;
  --color__gray-07: #21241f;
  --color__gray-08: #0d1108;

  --color__btn-text: var(--color__gray-00);
}
