:root {
  --font-size__2xl: 3rem;
  --font-size__xl: 1.5rem;
  --font-size__lg: 1.25rem;
  --font-size__md: 1rem;
  --font-size__sm: 0.875rem;
  --font-size__xs: 0.8125rem;
  --font-size__2xs: 0.625rem;
}
